<link rel="stylesheet" href="{{ site.github.url }}/assets/css/form.css">
<form id="contactForm" action="https://formspree.io/{{site.email}}" method="post" novalidate>
  <div>
    <label class="fs-label" for="name">{{ site.data.settings.contact_form_languages[page.language].name }}</label>
    <input class="fs-input" type="text" name="name" id="name" autocomplete="name" required>
  </div>

  <div>
    <label class="fs-label" for="email">{{ site.data.settings.contact_form_languages[page.language].email }}</label>
    <input class="fs-input" type="email" name="_replyto" id="email" autocomplete="email" required>
  </div>

  <div>
    <label class="fs-label" for="message">{{ site.data.settings.contact_form_languages[page.language].message }}</label>
    <textarea class="fs-textarea" type="text" name="message" id="message" rows="7" autocomplete="message" required></textarea>
  </div>

  <br/>
  <input type="hidden" name="_subject" value="Website Form submission">
  <!-- <input type="hidden" name="_format" value="plain" />
  <input type="hidden" type="text" name="_gotcha"> -->
  <button class="fs-button" type="submit" value="Send">{{ site.data.settings.contact_form_languages[page.language].send }}</button>
</form>


